/* You can add global styles to this file, and also import other style files */

/** Global **/
body {
    font-family: 'Verdana',sans-serif;
}

h2 {
    font-weight: normal;
}

/** Forms **/

h2.form-heading {
    text-align: center;
}

form.login-form, form.register-form {
    padding: 1%;
    width: 320px;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 8px;
}

button {
    background: #04AA6D;
    color: #fff;
    height: 3rem;
    padding: 0 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

button:active, button:hover, button:focus {
    background: #059862;
}

button:disabled {
    background: lightgray;
}

input {
    height: 2rem;
    border-radius: 8px;
    border: 1px solid darkgray;
    padding: 1px 8px;
    font-size: 1rem;
    margin: 10px;
}

a.btn.btn-link {
    padding-left: 1em;
}

/** Icons **/
.icon::before {
    display:inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.invalid-feedback::before {
    font: var(--fa-font-solid);
    content: "\f071";
    color: #ff0066;
    padding-right: 5px;
}

