<h2 class="form-heading">Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': (submitted && form.username.errors || signInError && signInError.length > 0) }" />
        <div *ngIf="submitted && form.username.errors" class="invalid-feedback icon">Username is required</div>
        <div *ngIf="signInError && signInError.length > 0" class="invalid-feedback icon">{{signInError}}</div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" >Login</button>
        <a routerLink="/register" class="btn btn-link">Register</a>
    </div>
</form>