<div class="header">
    <div class="login-controls">
        <div *ngIf="loggedIn == false">
            <a id="login-link" routerLink="/login">Login</a>
            <a id="register-link" routerLink="/register">Register</a>
        </div>
        <div *ngIf="loggedIn">
            <button class="secondary" (click)="logoutClick()">Logout</button>
        </div>
    </div>
    <h1>Welcome to Schedulicity Chat!</h1>
</div>

<!--list of rooms ordered by most recently active with option to create a room-->
<div class="chat-list">
    <h3 *ngIf="loggedIn">Join a room or <button *ngIf="loggedIn" class="tertiary" (click)="createClick()">create a room</button></h3>

    <!--Form to create a room-->
    <div *ngIf="showCreateForm">
        <form [formGroup]="roomForm" (ngSubmit)="onSubmit()" class="create-form">
            <div class="form-group">
                <input type="text" title="Room Name" placeholder="Room Name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': (submitted && form.name.errors || createError && createError.length > 0) }" />
                <button [disabled]="loading" class="create" title="create"><i class="fa-solid fa-plus"></i></button>
                <div *ngIf="submitted && form.name.errors" class="invalid-feedback icon">Room name is required</div>
                <div *ngIf="createError && createError.length > 0" class="invalid-feedback icon">{{createError}}</div>
            </div>
            <!--div class="form-group">
                <button [disabled]="loading" class="create" title="create"><i class="fa-solid fa-plus"></i></button>
            </div-->
        </form>
    </div>

    <h4>We're chatting about...</h4>
    <ul *ngIf="isDataAvailable">
        <li *ngFor="let room of roomList"><button class="room-select" (click)="roomSelect(room)">{{room.name}}</button></li>
    </ul>
</div>

<app-messages [roomID]="roomID" [roomName]="roomName" [loggedIn]="loggedIn"></app-messages>